body{
    background-color: #FDD67C;
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0px;
}

#myPage-top{
    background-color: #FFF7E8;
    height: 150px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    margin-bottom: 25px;
}

#top-menubar{
    display: flex;
    justify-content: space-between;
}

#menu{
    padding: 70px 0px 0px 20px;
}

#top-write{
    padding: 73px 0px 0px 0px;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

#nothing{
    padding-right: 20px;
    width: 32px;
}

#profile-frame{

    display: flex;
    justify-content: flex-start;
    background-color: #FFF7E8;
    color: black;
    height: 246px;
    flex-shrink: 0;
    margin: 22px;
    border-radius: 30px;
    padding: 23px;

}